.projects-wrapper {
  padding: 4rem 3rem !important;
}

.project-img img {
  width: 100%;
}

@media (max-width: 992px) {
  .project-card {
    gap: 2rem !important;
  }
}

@media (max-width: 768px) {
  .projects-wrapper {
    padding: 4rem 1rem !important;
  }
}
