.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #55c2a0;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(85, 194, 160, 0.6);
  z-index: 1000;
  animation: pulse 2s infinite;
  transition: transform 0.2s ease;
  /* padding: 0.6rem; */
  width: 45px;
  height: 45px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(85, 194, 160, 0.6);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(85, 194, 160, 0.9);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(85, 194, 160, 0.6);
  }
}
