.about-wrapper {
  padding: 4rem 3rem !important;
  width: 100% !important;
}

.about-icon img {
  width: 100%;
  height: 100%;
}

.about-intro h2 {
  margin: 0 !important;
}

.about-intro p {
  line-height: 1.8rem;
}

@media (max-width: 991.9px) {
  .about-intro {
    width: 100% !important;
  }
  .about-icon {
    width: 80% !important;
  }
}

@media (max-width: 768px) {
  .about-wrapper {
    padding: 2rem 1rem !important;
  }
  .about-icon {
    width: 100% !important;
  }
  .about-intro h2 {
    text-align: start !important;
  }
}
