.header-wrapper {
  padding: 4rem 3rem !important;
}

.profile-container {
  max-width: 240px;
  min-width: 240px;
  overflow: hidden;
  border-radius: 50% !important;
  padding: 6px;
  background: conic-gradient(
    from 0deg,
    #ff715a,
    #55c2a0,
    #ff715a,
    #55c2a0,
    #ff715a
  );
}

.profile-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
}

.action-btn {
  color: #fff !important;
  border-radius: 20px !important;
  border: 1px solid #ff715a !important;
  padding: 0.3rem 1.8rem !important;
  transition: all 0.2s ease-in-out !important;
}

.action-btn:hover {
  transform: scale(1.04);
}

@media (max-width: 768px) {
  .header-wrapper {
  padding: 2rem 1rem !important;
}
}