.navbar-wrapper {
  padding: 1rem 3rem !important;
  background-color: #55c2a0;
}

.navbar-container ul li a {
  color: rgba(255, 255, 255, 0.87) !important;
  box-shadow: inset 0 -1px 0 transparent;
  transition: box-shadow 0.3s ease-in-out;
}
.navbar-container ul li a:hover {
  box-shadow: inset 0 -1px 0 #fff;
}

.navbar-toggler,
.nav-menu-button:focus {
  box-shadow: none !important;
  border: none !important;
  font-size: 25px !important;
}

.nav-github:hover {
  transform: scale(1.1) !important;
  color: #ff715a;
  /* color: hsl(0, 0%, 30%); */
}

@media (max-width: 768px) {
  .navbar-wrapper {
    padding: 1rem !important;
  }
}
