.navbar-wrapper {
  padding: 1rem 3rem !important;
  background-color: #55c2a0;
}

.navbar-container ul li a {
  color: rgba(255, 255, 255, 0.87) !important;
  /* box-shadow: inset 0 -1px 0 transparent; */
  /* transition: box-shadow 0.3s ease-in-out; */
  transition: all 0.2s ease-in-out;
}
.navbar-container ul li a:hover {
  /* box-shadow: inset 0 -1px 0 #ff715a; */
  color: #ff715a !important;
}

.navbar-toggler,
.nav-menu-button:focus {
  box-shadow: none !important;
  border: none !important;
  font-size: 25px !important;
}

.nav-github:hover {
  transform: scale(1.1) !important;
  color: #ff715a;
  /* color: hsl(0, 0%, 30%); */
}

.nav-menu-button span {
  display: inline-flex;
  transition: transform 0.3s ease;
}

.nav-menu-button.is-open span {
  transform: rotate(90deg);
}

/* MOBILE ONLY animation */
@media (max-width: 991.9px) {
  .navbar-collapse {
    display: block !important;
    overflow: hidden;
    transition:
      max-height 0.35s ease,
      opacity 0.25s ease,
      margin-top 0.25s ease;
  }

  .navbar-closed {
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    pointer-events: none;
  }

  .navbar-open {
    max-height: 300px; /* large enough for content */
    opacity: 1;
    margin-top: 1rem;
    pointer-events: auto;
  }
}

@media (max-width: 768px) {
  .navbar-wrapper {
    padding: 1rem !important;
  }
}
