.footer-wrapper {
  background-color: #000;
  border-top: 1px solid #ff715a;
}

.socials-icons {
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: unset;
}
.socials-icons:hover {
  color: #55c2a0;
  transform: scale(1.1);
}