:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424 !important;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #242424 !important;
  color: rgba(255, 255, 255, 0.87) !important;
}
